:root {
    --primary-green: #4CAF50;
    --secondary-green: #45a049;
    --road-gray: #808080;
    --background-white: #f9f9f9;
    --text-dark: #333333;
}

body {
  margin: 0;
  background-color: #f9f9f9; /* Optional: Sets a light background color */
    font-family: "Stackey", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary-green);
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
    background: linear-gradient(to right, #4CAF50, #2E8B57);
    position: sticky;
    top: 0;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 1200px; /* Limits the width of the content */
  margin: 0 auto; /* Centers the navbar */
  padding: 0 2rem; /* Spacing on the sides */
  width: 100%;
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

  .cta-button {
      background: linear-gradient(-45deg, #1a4314, #2e6d23, #12786b, #004445);
  background-size: 400% 400%; /* Make the background much larger than the button */
  
  /* Apply the animation */
  animation: gradient-animation 8s ease infinite;

    color: white;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-size: 1.0rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px #39FF14;
    margin-left: auto;
  }